:root {
    --primary-blue: #3498db;
    --light-blue: #6bb9f0;
    --dark-blue: #2c3e50;
    --deep-blue: #1f2c38;
    --lighter-deep-blue: #213e58;
    --white: #b1b1b1;
}

* {
    margin: 0;
    /* padding: 0; */
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: var(--deep-blue);
    color: var(--white);
    top: 0;
    padding-bottom: 18px;
}

.nav-section-1 {
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 6px;
}

.nav-section-1 li {
    padding: 6px 12px;
}

.nav-section-1 li:first-of-type {
    border-right: solid 1px var(--white);
}

.nav-section-1 a {
    color: var(--white);
    font-size: medium;
}

.nav-section-1 a:hover {
    color: white;
}

.nav-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

nav img {
    width: 42px;
    height: 42px;
    margin-left: -90px;
    margin-right: 90px;
}

.nav-section-3 ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-section-3 li {
    padding: 0px 12px;
}

.nav-section-3 a {
    color: var(--white);
}

.nav-section-3 a:hover {
    color: white;
}

body {
    background-image: linear-gradient(to bottom right, var(--dark-blue), var(--light-blue));
}

header {
    color: var(--white);
    margin: 30px 60px;
    color: whitesmoke;
}

header h1 {
    font-size: xx-large;
    font-weight: bolder;
}

header h2 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 3px;
}

header p {
    font-size: medium;
    margin-top: 12px;
    width: 82%;
}

.container-1 {
    /* background-color: var(--dark-blue); */
    margin: 30px 90px;
    color: whitesmoke;
    display: flex;
}

.left-container-1 {
    flex: 40%;
    background-color: var(--dark-blue);
    margin-right: 30px;
    border-radius: 3px;
}

.left-container-1 h2, .right-container-1 h2 {
    margin: 18px 30px 0;
    font-size: larger;
    font-weight: bold;
}

.left-container-1 p, .right-container-1 p {
    margin: 6px 30px 18px;
    font-size: medium;
}

.right-container-1 {
    flex: 50%;
    background-color: var(--dark-blue);
    border-radius: 3px;
}

.right-container-1 a {
    margin: 12px 30px;
    color: var(--white);
}

.right-container-1 a:hover {
    color: whitesmoke;
}

.container-2 {
    background-color: var(--lighter-deep-blue);
    padding: 18px 60px;
    margin-top: 30px;
    color: whitesmoke;
}

.container-2 h2 {
    font-size: x-large;
    font-weight: bold;
}

.container-2 p {
    margin: 6px 0;
    font-size: medium;
}

.container-2-section {
    display: flex;
    overflow-x: auto;
    margin-top: 24px;
}

.container-2-section-1 {
    border: 1px solid var(--white);
    border-radius: 6px;
    margin-right: 18px;
    /* height: 150px; */
    padding: 12px;
    background-color: #192d3f;
}

.container-2-section .contact {
    width: 480px;
}

.container-2-section-1 table {
    margin-top: 6px;
}

.container-2-section .visit-us, .container-2-section .follow-us {
    width: 330px;
}
.visit-us a, .follow-us a, .connect a {
    color: var(--white);
    margin-bottom: 12px;
}

.visit-us a:hover, .follow-us a:hover, .connect a:hover {
    color: whitesmoke;
}

.product {
    background-image: linear-gradient(to top right, var(--dark-blue), var(--lighter-blueblue));
    color: whitesmoke;
    margin: 30px 60px;
    padding: 0 0 30px;
    border-bottom: 1px solid white;
}

.product h1 {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 12px;
}

.product-section {
    display: flex;
}

.product-section img {
    border-radius: 3px;
    margin-right: 30px;
    width: 450px;
    height: auto;
}

.product-section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-section p {
    font-size: large;
    font-weight: normal;
}

.product-section a {
    font-size: larger;
    font-weight: bold;
    color: var(--dark-blue);
}

.product-section a:hover {
    color: var(--lighter-blueblue);
}