:root {
    --primary-blue: #3498db;
    --light-blue: #6bb9f0;
    --dark-blue: #2c3e50;
    --deep-blue: #1f2c38;
    --white: #b1b1b1;
}

* {
    margin: 0;
    /* padding: 0; */
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: var(--deep-blue);
    color: var(--white);
    top: 0;
    padding-bottom: 18px;
}

.nav-section-1 {
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 6px;
}

.nav-section-1 li {
    padding: 6px 12px;
}

.nav-section-1 li:first-of-type {
    border-right: solid 1px var(--white);
}

.nav-section-1 a {
    color: var(--white);
    font-size: medium;
}

.nav-section-1 a:hover {
    color: white;
}

.nav-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

nav img {
    width: 42px;
    height: 42px;
    margin-left: -90px;
    margin-right: 90px;
}

.nav-section-3 ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-section-3 li {
    padding: 0px 12px;
}

.nav-section-3 a {
    color: var(--white);
}

.nav-section-3 a:hover {
    color: white;
}

body {
    background-image: linear-gradient(to bottom right, var(--dark-blue), var(--light-blue));
}

header {
    color: var(--white);
    margin: 30px 60px;
    color: whitesmoke;
}

header h1 {
    font-size: xx-large;
    font-weight: bolder;
}

header h2 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 3px;
}

header p {
    font-size: medium;
    margin-top: 12px;
    width: 82%;
}

.container {
    /* background-color: var(--dark-blue); */
    margin: 30px 90px;
    color: whitesmoke;
    display: flex;
}

.left-container {
    flex: 40%;
    background-color: var(--dark-blue);
    margin-right: 30px;
    border-radius: 3px;
}

.left-container h2, .right-container h2 {
    margin: 18px 30px 0;
    font-size: larger;
    font-weight: bold;
}

.left-container p, .right-container p {
    margin: 6px 30px 18px;
    font-size: medium;
}

.right-container {
    flex: 50%;
    background-color: var(--dark-blue);
    border-radius: 3px;
}

.right-container a {
    margin: 12px 30px;
    color: var(--white);
}

.right-container a:hover {
    color: whitesmoke;
}